<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Management Dashboard</h2>
            <h4>MIT</h4>
        </div>
        <img src="https://res.cloudinary.com/chocobrain/image/upload/c_scale,dpr_auto,f_auto,q_auto,w_50/v1582899364/bBhTK9ap/Platzhalter%20Person" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Seiten</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
