<div>

  <h2> <mat-icon>phone</mat-icon> Ausstehende Gespräche </h2>

  <table summary="Tabelle mit ausstehenden Gespraechen" mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="Kundennummer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kundennummer </th>
      <td mat-cell *matCellDef="let element"> {{element.kundennummer}} </td>
    </ng-container>

    <ng-container matColumnDef="Kategorie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategorie </th>
      <td mat-cell *matCellDef="let element"> {{element.kategorie}} </td>
    </ng-container>

    <ng-container matColumnDef="Thema">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Thema </th>
      <td mat-cell *matCellDef="let element"> {{element.thema}} </td>
    </ng-container>

    <ng-container matColumnDef="Nächste Fälligkeit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nächste Fälligkeit</th>
      <td mat-cell *matCellDef="let element"> {{element.naechsteFaelligkeit}} </td>
    </ng-container>

    <!--
      https://www.youtube.com/watch?v=7wilnsiotqM
      dummy function
    -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button><mat-icon>launch</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                 [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>
