<div>
  <mat-card-title>
  <mat-icon>list_alt</mat-icon>
  Offene Aufgaben
  </mat-card-title>
  <mat-card-subtitle> Dies ist eine Liste Ihrer offenen Aufgaben </mat-card-subtitle>

  <mat-card-actions fxLayoutAlign="end">

    <div class="news-card">

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="refreshNews()">
          <mat-icon>refresh</mat-icon>
          Neu laden
        </button>
        <button mat-menu-item>
          <mat-icon>clear</mat-icon>
          Alle Entfernen
        </button>
      </mat-menu>

    </div>

  </mat-card-actions>
<div>
  <table #table>

    <ng-container *ngFor="let todo of todos; let indexOfelement = index;">
      <h3>Aufgabe
        <span *ngIf="currentPage==0">{{indexOfelement+1}}</span>
        <span *ngIf="currentPage>0">{{(currentPage*3)+(indexOfelement+1)}}</span></h3>
      <p>Fällig: {{todo.naechsteFaelligkeit}}</p>
      <p> <mat-icon style="padding: 10px">phone</mat-icon> Nächstes geplantes Gespräch vorbereiten für Kunde {{todo.kundenname}} ({{todo.kundennummer}})</p>
      <mat-divider></mat-divider>
    </ng-container>

  </table>
</div>

  <mat-paginator #paginator [pageSize]="pageSize" [showFirstLastButtons]="false" [length]="totalSize"
                 [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
  </mat-paginator>

</div>
