<mat-card-title>
  <mat-icon>list_alt</mat-icon>
  Ihre dringendsten To-Do's
</mat-card-title>

<mat-list>

  <mat-list-item>
    <h2 matLine>Aufgabe 1 </h2>
    <p matLine>Fällig: 17.11.2020 </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui lorem, porttitor vel nisi id, maximus rutrum turpis. Sed et tempus augue, convallis placerat est. Curabitur enim massa, varius quis felis non, rutrum congue dui. Sed rhoncus justo elementum dolor elementum, vitae ornare est consectetur.</p>
  </mat-list-item>

  <br><mat-divider></mat-divider> <br>

  <mat-list-item>
    <h2 matLine>Aufgabe 2</h2>
    <p matLine>Fällig: 21.11.2020</p>
    <p> Vivamus quis mi molestie, blandit augue eu, placerat justo. Nullam id massa vel felis maximus euismod at id nunc. Cras ligula nunc, molestie sit amet ipsum non, convallis tincidunt mauris. Praesent sagittis interdum eros, vel venenatis lacus porttitor in. Sed nec orci mi. Vestibulum vitae scelerisque justo.</p>
  </mat-list-item>

  <br><mat-divider></mat-divider><br>

  <mat-list-item>
    <h2 matLine>Aufgabe 3</h2>
    <p matLine>Fällig: 23.11.2020</p>
    <p style="text-align: left"> Sed id dui porttitor, pretium metus et, venenatis magna. Maecenas suscipit erat sed nisl dictum sodales.Sed id dui porttitor, pretium metus et, venenatis magna. Maecenas suscipit erat sed nisl dictum sodales.Sed id dui porttitor, pretium metus et, venenatis magna. Maecenas suscipit erat sed nisl dictum sodales.</p>
  </mat-list-item>

  <br><mat-divider></mat-divider><br>

  <mat-list-item>
    <h2 matLine>Aufgabe 4</h2>
    <p matLine>Fällig: 28.11.2020</p>
    <p> Vivamus quis mi molestie, blandit augue eu, placerat justo. Nullam id massa vel felis maximus euismod at id nunc. Cras ligula nunc, molestie sit amet ipsum non, convallis tincidunt mauris. Praesent sagittis interdum eros, vel venenatis lacus porttitor in. Sed nec orci mi. Vestibulum vitae scelerisque justo.</p>
  </mat-list-item>

</mat-list>
