<div>
<mat-card-title>
  <mat-icon>all_inbox</mat-icon>
  Neuigkeiten
</mat-card-title>

<mat-card-subtitle> Hier sind Ihre wichtigsten Neuigkeiten </mat-card-subtitle>

<mat-card-actions fxLayoutAlign="end">
  <div class='news-content'>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="refreshNews()">
        <mat-icon>refresh</mat-icon>
        Neu laden
      </button>
      <button mat-menu-item>
        <mat-icon>clear</mat-icon>
        Alle entfernen
      </button>
    </mat-menu>
  </div>
</mat-card-actions>

  <div>
    <table aria-describedby="Tabelle mit Neuigkeiten" #table>
      <th scope="col"></th>
      <ng-container *ngFor="let news of yournews; let indexOfelement = index;">
        <h3>Neuigkeit
        <span *ngIf="currentPage==0">{{indexOfelement+1}}</span>
          <span *ngIf="currentPage>0">{{(currentPage*3)+(indexOfelement+1)}}</span></h3>
        <p>Dringlichkeit: {{news.dringlichkeit}}</p>
        <p> <mat-icon style="padding: 10px">phone</mat-icon> {{news.neuigkeit}}</p>
        <mat-divider></mat-divider>
      </ng-container>
    </table>
  </div>

  <mat-paginator #paginator [pageSize]="pageSize" [showFirstLastButtons]="false" [length]="totalSize"
                 [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
  </mat-paginator>

</div>
