<mat-card-title>
  <mat-icon>all_inbox</mat-icon>
  Ihre Neuigkeiten
</mat-card-title>

<mat-card-subtitle> Hier sind Ihre wichtigsten Neuigkeiten </mat-card-subtitle>

<mat-card-content>
  <div class='news-content'>
    <div *ngFor="let article of articles">
      <h2>{{article.title}}</h2>

      <p>
        {{article.description}}
      </p>
      <a href="{{article.url}}">Read full article</a>
    </div>
  </div>

  <div style="display: none">
    <mat-spinner></mat-spinner>
  </div>
</mat-card-content>

<mat-card-actions fxLayoutAlign="end">

  <div class="news-card">

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="refreshNews()">
        <mat-icon>refresh</mat-icon>
        Refresh
      </button>
      <button mat-menu-item>
        <mat-icon>clear</mat-icon>
        Alle Entfernen
      </button>
    </mat-menu>

  </div>

</mat-card-actions>
