<mat-card-title>
  <mat-icon>all_inbox</mat-icon>
  Ihre Neuigkeiten
</mat-card-title>

<mat-card-subtitle> Hier sind Ihre wichtigsten Neuigkeiten </mat-card-subtitle>

<mat-card-content>
  <div class='news-content'>
    <!-- OLD STATIC NEWS
    <div>
      <mat-icon>keyboard_arrow_right</mat-icon>
      Hier steht was sinnvolles. Leute anrufen oder so.
    </div>
    <br>
    <div>
      <mat-icon>keyboard_arrow_right</mat-icon>
      Hier steht was sinnvolles. Zahlen nachgucken, wichtige Banker-sachen.
    </div>
    <br>
    <div>
      <mat-icon>keyboard_arrow_right</mat-icon>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem quam, placerat vitae metus eget, posuere tempor risus. Nunc dignissim lacus ut ipsum accumsan, et tincidunt justo congue. Morbi porta commodo felis, sit amet dignissim odio sodales sit amet. Nam sed purus est. Ut tellus felis, dignissim auctor facilisis non, accumsan nec nibh. Vivamus eget nibh fermentum, consequat ex ac, rutrum diam. Sed euismod lobortis metus, sodales accumsan quam facilisis vestibulum. Aenean in mollis lacus, sit amet ornare justo. Etiam dictum lectus eget sem eleifend, et maximus odio vulputate. Ut venenatis tristique odio ut interdum. Morbi vestibulum felis quam. Nunc at turpis vel diam ullamcorper accumsan quis sed nisl. Curabitur fermentum ipsum vitae mauris sodales dapibus. Sed rutrum ac sapien nec pulvinar. Suspendisse euismod enim id ultrices lacinia. Sed ut enim quam.
    </div>-->

    <div *ngFor="let article of articles">
      <h2>{{article.title}}</h2>

        <p>
          {{article.description}}
        </p>
        <a href="{{article.url}}">Read full article</a>
    </div>
  </div>

  <div style="display: none">
    <mat-spinner></mat-spinner>
  </div>
</mat-card-content>

<mat-card-actions fxLayoutAlign="end">

  <div class="news-card">

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="refreshNews()">
        <mat-icon>refresh</mat-icon>
        Refresh
      </button>
      <button mat-menu-item>
        <mat-icon>clear</mat-icon>
        Alle Entfernen
      </button>
    </mat-menu>

  </div>






</mat-card-actions>
