<div>
    <app-widget-area [data]="bigChart" fxFlex="65"></app-widget-area>

  <mat-divider [vertical]="true"></mat-divider>

    <app-widget-pie [data]="pieChart" fxFlex="35"></app-widget-pie>

</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Wertpapiergeschäft" total="80.717€" percentage="83,41" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Depotgebühren" total="17.731€" percentage="124,94" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Kreditschutz" total="14€" percentage="0" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Krankenver. Ertrag" total="820€" percentage="293,29" [data]="cards"></app-widget-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <!-- Date Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Datum </th>
                    <td mat-cell *matCellDef="let element"> {{element.datum}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Gesprächstyp Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Gesprächstyp </th>
                    <td mat-cell *matCellDef="let element"> {{element.gespraechstyp}} </td>
                </ng-container>

                <!-- Kundennummer Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Kundennummer</th>
                    <td mat-cell *matCellDef="let element"> {{element.kundennummer}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>

    </div>

</div>



<br>
<br>
<br>
