

<div>

  <app-news-card fxFlex="50" class="mat-elevation-z8" style="padding: 20px"></app-news-card>

  <mat-divider [vertical]="true" style="padding: 10px"></mat-divider>

  <app-todo-table fxFlex="50" class="mat-elevation-z8" style="padding: 20px"></app-todo-table>

</div>

<br>

<mat-divider></mat-divider>

<br>

<div>
    <div fxFlex="60" class="mat-elevation-z8" style="padding: 20px">
      <app-gespraechs-table></app-gespraechs-table>
    </div>

  <mat-divider [vertical]="true" style="padding: 10px"></mat-divider>

  <div fxFlex="40" class="mat-elevation-z8" >
    <app-widget-donut></app-widget-donut>
  </div>

</div>

<br>

<mat-divider></mat-divider>

<br>

<div>

  <div fxFlex="40" class="mat-elevation-z8" style="padding: 20px">
    <app-kundeninfo></app-kundeninfo>
  </div>

  <mat-divider [vertical]="true" style="padding: 10px"></mat-divider>

  <div fxFlex="60" class="mat-elevation-z8" style="padding: 20px">
    <app-bubble-potential></app-bubble-potential>
  </div>

</div>

<br>

<mat-divider></mat-divider>

<br>

<div>

  <div fxFlex="50" class="mat-elevation-z8" style="padding: 20px">
    <app-drilldown></app-drilldown>
  </div>

  <mat-divider [vertical]="true" style="padding: 10px"></mat-divider>

  <div fxFlex="49" class="mat-elevation-z8" style="padding: 20px">
    <app-widget-pie></app-widget-pie>
  </div>

</div>

<br>

<mat-divider></mat-divider>

<br>

