<mat-card-title><mat-icon>create</mat-icon>
  Neuigkeiten anlegen</mat-card-title>

<mat-card-subtitle> Geben Sie hier Ihre Neuigkeiten ein </mat-card-subtitle>
<hr>
<mat-card-content>
  <div>
  <textarea id="news" rows="10" cols="80"></textarea>
  </div>

  <div>
  <mat-form-field style="margin-right:10px;">
  <mat-label>Berater</mat-label>
  <mat-select id="berater">
  <mat-option value="maxmustermann">Max Mustermann</mat-option>
  </mat-select>
  </mat-form-field>

<mat-form-field>
  <mat-label>Dringlichkeit</mat-label>
  <mat-select id="dringlichkeit">
    <mat-option id="sofort" value="sofort">Sofort</mat-option>
    <mat-option id="sehrdringend" value="sehrdringend">Sehr dringend</mat-option>
    <mat-option id="dringend" value="dringend">Dringend</mat-option>
    <mat-option id="normal" value="normal">Normal</mat-option>
    <mat-option id="nichtdringend" value="nichtdringend">Nicht dringend</mat-option>
  </mat-select>
</mat-form-field>

  <section>
    <button mat-raised-button color="primary">Senden</button>
  </section>
  </div>
</mat-card-content>
